%font__16Rob{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

%font__18Rob{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

%font__20Rob{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

%font__36Hel{
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 41px;
}


%font__48Hel{
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 55px;
}




// hero start

.hero__title__text__container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 40px;
        h1 {
            max-width: 794px;
            font-family: Helvetica, sans-serif;
            font-size: 72px;
            font-weight: 400;
            line-height: 76px;
            text-transform: uppercase;
        }

        a {
            @extend %font__18Rob;
            text-decoration: none;
        }
}

.hero__main__content__container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.hero__left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        img {
            max-width: 329px;
            max-height: 493px;
        }

        p {
            max-width: 445px;
            @extend %font__20Rob;

        }
}


// about start

.about {
    margin-top: 120px;
}

.about__container {
    display: flex;
}

.about__title__container {
    width: 50%;
    h2 {
        @extend %font__48Hel;
        max-width: 562px;
    }
}

.about__subtitle__container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    max-width: 446px;
}

.about__subtitle__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @extend %font__16Rob;
}

.about__subtitle__bot {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    gap: 24px;
    max-width: 146px;
    h3 { 
       @extend %font__36Hel;
    };
    p {
        @extend %font__16Rob;
    };
}

// steps start


.steps {
    margin-top: 120px;
}

.steps__container {
    display: flex;
}

.steps__title__container {
    width: 50%;
    h2 {
        @extend %font__48Hel;
        max-width: 562px;
    }
}

.steps__subtitle__container {
    padding-top: 10px;
    width: 50%;
}

.subtitle__main {
    @extend %font__16Rob;
}

.steps__subtitle__text {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    border-bottom: black solid 1px;
    padding-bottom: 24px;
        h3 {
         @extend %font__36Hel;
        }
        p {
            max-width: 329px;
            @extend %font__16Rob;
        }
}

// project start

.projects {
    margin-top: 120px;
    h2 {
        @extend %font__36Hel
    }
}


.projects__cards {
    display: grid;
    margin-top: 32px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.projects__card {
    position: relative;
    cursor: pointer;
}

.project__card._focus {
    
}




.card__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba($color: #212529, $alpha: .7);
    width: 100%;
    height: 66px;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    @extend %font__16Rob;
    color: #fff;
    animation: slide 0.5s ease; 
    opacity: 0;
    transition: opacity 1s ease;

}



.card__text._focus {
    opacity: 1;
}

// reviews start

.reviews {
    margin-top: 120px;
        h2 {
            @extend %font__36Hel;
        }
}

.reviews__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reviews__card {
    display: flex;
    flex: 1;
    margin-top: 32px;
    flex-direction: column;
    height: 327px;
    border: #212529 solid 1px;
    align-items: center;
        p {
            max-width: 365px;
        }
        img {
            margin-top: 40px;
        }
}

.reviews__name {
    @extend %font__36Hel;
    font-size: 16px;
    margin-top: 32px;
}

.reviews__text {
    @extend %font__16Rob;
    margin-top: 32px;
}

// form start


.form {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.form__text__container {
    display: flex;
    flex-direction: column;
}

.title__container {
    
    h2 {
        @extend %font__36Hel;
    }
    p {
        @extend %font__16Rob;
        margin-top: 32px;
    }
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 72px;
    input {
        padding: 10px;
        border: 0;
        outline: none;
        appearance: none;
        border-bottom: solid 1px #000;
    }
    button {
        max-width: 176px;
        height: 46px;
        border: 0;
        color: #fff;
        background-color: #000;
        font-family: Roboto;
        font-size: 16px;
    }
}

.form__social {
    display: flex;
    margin-top: 40px;
    gap: 8px;
    cursor: pointer;
}


// __media__


// __1440px

@media screen and (max-width: 1440px) {
    .projects__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

// __1100px

@media screen and (max-width: 1100px) {

    .hero__title__text__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .hero__main__content__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

  

    .hero__left__content {
        align-items: center;
        img {
            display: none;
            max-width: 100%;
        }

        p   {
            max-width: 60%;
            margin-bottom: 20px;
        }
    }

    .about {
        margin-top: 50px;
    }

    .about__title__container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        h2 {
          max-width: 700px;
        }
    }

    .about__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about__subtitle__container {
        align-items: center;
        max-width: 650px;
    }

    .about__subtitle__bot {
        justify-content: center;
        max-width: 100%;
    }

    .steps {
        margin-top: 50px;
    }

    .steps__title__container {
        text-align: center;
    }

    .steps__container {
        flex-direction: column;
        align-items: center;
    }

    .subtitle__main {
        text-align: center;
    }

    .steps__subtitle__container {
        width: 700px;
        
    }

    .steps__subtitle__text {
        gap: 20px;
    }

    .projects {
        margin-top: 50px; 
            h2 {
                text-align: center;
            }
    }

    .projects__cards {
        max-width: 70%;
        align-items: center;
        margin: 20px auto;
        img {
            width: 100%;
        }
    }



    .reviews {
        margin-top: 20px;
            h2 {
                text-align: center;
            }
    }

    .reviews__container {
        flex-direction: column;
        text-align: center;
    }

    .reviews__card {
        padding: 0 100px 20px 100px;
        margin: 20px auto;
    }

    .form {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
   

}


// __768px

@media screen and (max-width: 768px) {

  

    .hero__title__text__container {
            gap: 20px;
            align-items: start;
            a {
                
            }
            h1 {
                font-size: 32px;
                text-align: start;
                width: 100%;
                line-height: 38px;
            }    
    }

    .hero__main__content__container {
        text-align: start;
        margin-top: 20px;
    }

  

    .hero__left__content {
        p   {
            max-width: 100%;
            margin-bottom: 20px;
        }
    }

    .hero__right__content {
        img {
            max-width: 100%;
        }
    }

    // .about {
    //     margin-top: 50px;
    // }

   

    .about__title__container {
        h2 {
        //   max-width: 100%;
          text-align: start;
          font-size: 28px;
        }
    }

    .about__container {
        text-align: start;
    }

    .about__subtitle__container {
        align-items: start;
    }

    .steps__title__container {
        text-align: start;
        width: 100%;
         h2 {
            font-size: 28px;
         }
    }

    .steps__container {
        align-items: start;
    }

    .subtitle__main {
        text-align: start;
    }

    .steps__subtitle__container {
        width: 100%;
            p {
                text-align: start;
            }
        
    }


    .steps__subtitle__text {
        flex-direction: column;
        gap: 20px;
            p {
                max-width: 100%;

            }
        
    }




    .projects {
            h2 {
                text-align: start;
            }
    }

    .projects__cards {
        grid-template-columns: 1fr;
    }

    .reviews {
        margin-top: 20px;
            h2 {
                text-align: center;
            }
    }

    .reviews__container {
        flex-direction: column;
        text-align: center;
    }

    .reviews__card {
        padding: 0 0 20px 0;
        margin: 20px auto;
    }


    .form__img__container {
        img {
            max-width: 100%;
        }
    }

    

}